h1{
    color: darkolivegreen;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}

.all{
    background-color: rgb(40, 43, 40);
    height: 1000px;
}

// .container{
//     background-color: #fff;
//     padding: 20px;
//     border-radius: 10px;
//     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
//     width: 300px;
// }

.form-group{
}
